
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #000000;
  --primary-purple: #9b87f5;
  --secondary-purple: #7E69AB;
  --dark-purple: #1A1F2C;
}

@layer base {
  body {
    @apply text-white bg-black relative pb-16;
  }
}
